config FEATURE_A
      bool "Compile FEATURE_A"
      help
        Compile Feature A
		Use this to enabled Feature A in someapp.
		Not included by default

config FEATURE_B
      bool "Compile FEATURE_B"
      help
        Compile Feature B
		Use this to enabled Feature B in someapp.
		Not included by default

config FEATURE_C
      bool "Compile FEATURE_C"
      help
        Compile Feature C
		Use this to enabled Feature C in someapp.
		Not included by default


config FEATURE_D
      bool "Compile FEATURE_D"
      help
        Compile Feature D
		Use this to enabled Feature D in someapp.
		Not included by default

config FEATURE_E
      bool "Compile FEATURE_E"
      help
        Compile Feature E
		Use this to enabled Feature E in someapp.
		Not included by default
